[tools]
pnpm = "10.24"

[env]
PROJECT = "weblog"

[tasks.astro]
description = "Start dev server"
run = "pnpm astro"

[tasks.dev]
description = "Start dev server"
run = "mise astro dev"

[tasks.build]
description = "Build application"
run = "mise astro build"

[tasks.preview]
description = "Preview application"
run = "mise astro preview"

[tasks.deps]
description = "Install dependencies"
run = "pnpm install"

[tasks.format]
description = "Format files"
run = "pnpm prettier --write ."

[tasks.ssh]
description = "SSH"
run="""
ssh -t -i $VPS_SSH_PUB_KEY deploy@$VPS_HOST
"""

[tasks.scp]
description = "SCP"
run="""
scp -i $VPS_SSH_PUB_KEY
"""

[tasks.publish]
description = "Publish content"
run = """
mise scp -r ./src/content/posts deploy@$VPS_HOST:/var/lib/weblog/content/posts
mise scp -r ./src/content/recipes deploy@$VPS_HOST:/var/lib/weblog/content/recipes
"""
