[tools]
age = "latest"
"github:jdx/fnox" = "latest"
pnpm = "10.24"

[env]
PROJECT = "weblog"

[tasks.astro]
description = "Start dev server"
run = "fnox exec -- pnpm astro"

[tasks.dev]
description = "Start dev server"
run = "mise astro dev"

[tasks.build]
description = "Build application"
run = "mise astro build"

[tasks.preview]
description = "Preview application"
run = "mise astro preview"

[tasks.deps]
description = "Install dependencies"
run = "pnpm install"

[tasks.format]
description = "Format files"
run = "pnpm prettier --write ."

[tasks."secrets:recrypt"]
description = "Re-encrypt secrets"
run = """
fnox list | awk '/provider \\(age\\)/ {print $1}' | while read env_key; do
  fnox set "$env_key" "$(fnox get "$env_key")" --provider age
done
"""

[tasks."secrets:dump"]
description = "Dump secrets"
run = """
fnox list | awk '/provider \\(age\\)/ {print $1}' | while read env_key; do
  echo $env_key=$(fnox get "$env_key")
done
"""

[tasks."prod:scp"]
description = "SCP"
run="""
scp -i $VPS_SSH_PUB_KEY
"""

[tasks."prod:ssh"]
description = "SSH"
run="""
ssh -t -i $VPS_SSH_PUB_KEY deploy@$VPS_HOST
"""

[tasks."prod:shell"]
description = "SSH into the docker shell"
run="""
mise prod:ssh 'docker compose --project-directory "/opt/apps" exec -it weblog /bin/bash'
"""

[tasks."prod:logs"]
description = "Watch prod logs"
run="""
mise prod:ssh 'docker compose --project-directory "/opt/apps" logs -f weblog'
"""
