/* @import "tailwindcss"; */

/******************************************************************************
 * HTML Elements
 ******************************************************************************/
main {
    width: 960px;
    max-width: calc(100% - 2em);
    margin: 0 auto;
}

/******************************************************************************
 * Classes
 ******************************************************************************/

.hero-image {
    width: 100%;
}

.hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
}
