@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-inter: 'Inter', 'sans-serif';
  --font-sixtyfour: 'Sixtyfour Convergence', 'sans-serif';
  --font-workbench: 'Workbench', 'monospace';
  --font-neuton: 'Neuton', 'serif';
  --font-ibm-plex: 'IBM Plex Mono', 'monospace';
  --font-m-plus-1-code: 'M PLUS 1 Code', 'monospace';

  --font-console: var(--font-workbench);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-neuton);
  --font-mono: var(--font-ibm-plex);
  --font-intl-mono: var(--font-m-plus-1-code);

  --color-base-100: oklch(30.33% 0.016 252.42);
  --color-base-200: oklch(25.26% 0.014 253.1);
  --color-base-300: oklch(20.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-base-dim-content: oklch(80% 0.014 253.09);
  --color-primary: oklch(58% 0.233 278.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);

  /* --color-background:var(--color-base-300); */
  --color-background: black;

  --comfortable-width: 720px;

  --white-glow: 0 0 4px white;
  --white-glow-lg: 0 0 8px white;

  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;

  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

/******************************************************************************
 * HTML Elements
 ******************************************************************************/

* {
  line-height: inherit
}

body {
  @apply text-base tablet:text-lg;
  color: #f5f5f7;
  /* color: var(--color-base-content); */
  background-color: var(--color-background);
  font-family: var(--font-serif);
  font-size-adjust: 0.6;
  /* letter-spacing: 0.06rem; */
}

main {
  width: var(--comfortable-width);
  @apply max-w-[calc(100%_-_2rem)] tablet:max-w-[calc(100%_-_3rem)];
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-console);
}

h1 {
    @apply text-[calc(1.375rem+1.5vw)] desktop:text-5xl;
    font-weight: 700;
}

h2 {
    @apply text-[calc(1.325rem+0.9vw)] desktop:text-4xl;
    font-weight: 700;
}

h3 {
    @apply text-[calc(1.3rem+0.6vw)] desktop:text-3xl;
    font-weight: 700;
}

h4 {
    @apply text-[calc(1.275rem+0.3vw)] desktop:text-2xl;
    font-weight: 700;
}

h5 {
    @apply text-xl;
    font-weight: 600;
}

h6 {
    font-weight: 500;
}

hr {
    opacity: 20%;
    border-width: 1px;
}

/******************************************************************************
 * Markdown Classes
 ******************************************************************************/

.task-list-item input:not(:checked) {
  appearance: none;
  @apply rounded-sm border-1 w-4 h-4 mr-1 border-base-dim-content;
}

.task-list-item input:checked {
    @apply rounded-sm border-1 w-4 h-4 mr-1;
}

.my-disabled {
    pointer-events: none;
}

/******************************************************************************
 * Classes
 ******************************************************************************/

.hero-image {
  width: 100%;
}

.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.astro-code {
  @apply p-4 tablet:p-6 rounded-md text-xs tablet:text-sm mb-8 tablet:mb-8;
  font-family: var(--font-mono);
}

/* .astro-code code { */
/*   @apply text-xs tablet:text-base; */
/*   font-family: var(--font-mono); */
/* } */

.ascii-cat {
  @apply font-console font-black;
}

.my-prose {
   @apply
   prose-invert
   prose-p:leading-6
   tablet:prose-p:leading-8
   prose-p:mb-4
   tablet:prose-p:mb-8
   prose-a:underline
   /* prose-p:text-justify */
   prose-img:rounded-xl;
}

.my-prose h1 {
    /* We don't want h1's inside my-prose */
    @apply text-error;
}

.my-prose blockquote {
    @apply text-base-dim-content text-base italic border-l-2 pl-4;
}

.my-prose > ul {
    @apply mb-4 tablet:mb-8;
}

.my-prose li {
    @apply leading-8;
}

.my-prose ul ul {
    @apply ml-6;
}

.my-prose li:not(.task-list-item) {
    list-style-type: disc;
    @apply ml-6;
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  0% { opacity: 1; } /* Element is fully visible */
  50% { opacity: 0; } /* Element is fully invisible */
  100% { opacity: 1; } /* Element is fully visible again */
}
