---
import Layout from "../layouts/Layout.astro";
import { cats } from "../content/ascii/cats";
---

<Layout>
  <main class="laptop:pt-32 tablet:pt-6 pt-4">
    <section class="flex items-end gap-4">
      <h1 class="tablet:mb-4 mb-2 whitespace-nowrap">cats!</h1>
    </section>

    <section class="space-y-4">
      {cats.map((cat) => <pre class="ascii-cat">{cat}</pre>)}
    </section>
  </main>
</Layout>
