---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const wooo = `
⠀ ⠀   へ   ♡   ╱|、                 ╱|、
     ૮  -   ՛ )      (\`   -  7               (˚ˎ 。7  
       /   ⁻  ៸|       |、⁻〵              |、˜〵
 乀 (ˍ, ل ل       じしˍ,)ノ       じしˍ,)ノ
`;
---

<Layout>
  <main class="pt-32">
    <section class="flex items-center gap-4">
      <h1 class="mb-4">proteus softworks</h1>
      <pre
        class="font-console text-xs font-black">
 ╱|、
(˚ˎ 。7  
 |、˜〵          
じしˍ,)ノ
      </pre>
    </section>

    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="mt-4">
              <a href={`/posts/${post.id}`}>
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                )}
                <h4>{post.data.title}</h4>
              </a>
              <p class="text-base-dim-content">{post.data.description}</p>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
