---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
		<style>
			main {
			  width: 960px;
			  max-width: calc(100% - 2em);
			  margin: 0 auto;
			}

		</style>
	</head>
  
	<body>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/${post.id}`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h4 class="title">{post.data.title}</h4>
								</a>
                              <p>{post.data.description}</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
