---
import { StravaGateway } from "@/lib/strava";

export interface Props {
  name: "stravaYtdMiles" | "test";
}

const { name } = Astro.props;

let getValue: () => Promise<string | number> = async () => "Heck :/";
let missingName = false;

switch (name) {
  case "stravaYtdMiles":
    getValue = StravaGateway.getYtdMiles;
    break;
  case "test":
    getValue = async () => "Ayyyyy :D";
    break;
  default:
    getValue = async () => `[${name}]`;
    missingName = true;
}

const value = await getValue().catch(() => "[fetch error]");
---

{missingName ? <span class="text-error">{value}</span> : value}
