---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <body>
    <main class="laptop:pt-32 tablet:pt-6 pt-4">
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <Image width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>

        <section>
          <h1 class="mb-2">{title}</h1>
          <p class="text-base-dim-content font-mono text-sm">> {description}</p>
        </section>

        <hr class="my-4" />

        <Prose>
          <slot />
        </Prose>
      </article>
    </main>
  </body>
</Layout>
