---
import "../styles/global.css";
import "@fontsource/sixtyfour-convergence";
import "@fontsource/workbench";
import "@fontsource/inter";
import "@fontsource/neuton";

import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <slot />
  </body>
</html>
