---
import "../styles/global.css";
import "@fontsource/sixtyfour-convergence";
import "@fontsource/workbench";
import "@fontsource/inter";
import "@fontsource/neuton";
---

<!doctype html>
<html lang="en">
  <body>
    <slot />
  </body>
</html>
