---
import "../styles/global.css";
import "@fontsource/sixtyfour-convergence";
import "@fontsource/workbench";
import "@fontsource/inter";
import "@fontsource/neuton";
import "@fontsource/ibm-plex-mono";
import "@fontsource/m-plus-1-code";

import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";

interface Props {
  header?: boolean;
}

const { header = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    {!!header && <SiteHeader />}
    <slot />
  </body>
</html>
