---
import "../styles/global.css";

import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";

interface Props {
  header?: boolean;
}

const { header = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    {!!header && <SiteHeader />}
    <slot />
  </body>
</html>
